@model List<S18_compito.Models.Rooms>

<table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Descrizione</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Number</td>
                <td>@room.Descrizione</td>
                <td>
                    @if (@room.SingolaDoppia)
                    {
                        <td>Singola</td>
                    }
                    else
                    {
                        <td>Doppia</td>
                    } 
                </td>
            </tr>
        }
    </tbody>
</table>